<html >
<head xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/10404fa3b3.js" crossorigin="anonymous"></script>
    <link href="../static/css/page.css" th:href="@{/css/page.css}" rel="stylesheet" />
    <link href="../static/css/home-style.css" th:href="@{/css/home-style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last news</title>

</head>
<body>
<div class="wrapper">
    <header class="main-head">
        <div class="logo">
            <a href="home"><h1>Free ServletBlog</h1></a>
        </div>

        <nav class="main-nav">
            <ul class="nav-bar">
                <li>Drivers <i  class="fas fa-bars"></i>
                    <ul class="inner-list" >
                        <li><a href="/driverExperience" id="experience">Find by experience</a></li>
                        <li><a href="/driverAge" id="age">Find by age</a></li>
                        <li><a href="/driverChildren" id="childrenAmount">Find by children amount</a></li>
                        <li><a href="/driverGender" id="gender">Find by Gender</a></li>
                        <li><a href="/driverBrigades" id="gender">Find by brigades</a></li>
                        <li id="salary"><a href="/driverSalary" id="settings">Find by salary</a></li>
                    </ul>
                </li>
                <li>Railway repairmen <i  class="fas fa-bars"></i>
                    <ul class="inner-list" >
                        <li><a href="/railwayRepairmanExperience" id="experience">Find by experience</a></li>
                        <li><a href="/railwayRepairmanAge" id="age">Find by age</a></li>
                        <li><a href="/railwayRepairmanChildren" id="childrenAmount">Find by children amount</a></li>
                        <li><a href="/railwayRepairmanGender" id="gender">Find by Gender</a></li>
                        <li><a href="/railwayRepairmanBrigades" id="gender">Find by brigades</a></li>
                        <li id="salary"><a href="/railwayRepairmanSalary" id="settings">Find by salary</a></li>
                    </ul>
                </li>
                <li>Train repairmen<i  class="fas fa-bars"></i>
                    <ul class="inner-list" >
                        <li><a href="/trainRepairmanExperience" id="experience">Find by experience</a></li>
                        <li><a href="/trainRepairmanAge" id="age">Find by age</a></li>
                        <li><a href="/trainRepairmanChildren" id="childrenAmount">Find by children amount</a></li>
                        <li><a href="/trainRepairmanGender" id="gender">Find by Gender</a></li>
                        <li id="salary"><a href="/trainRepairmanSalary" id="settings">Find by salary</a></li>
                    </ul>
                </li>
                <li>Train servicemen <i  class="fas fa-bars"></i>
                    <ul class="inner-list" >
                        <li><a href="/trainServicemanExperience" id="experience">Find by experience</a></li>
                        <li><a href="/trainServicemanAge" id="age">Find by age</a></li>
                        <li><a href="/trainServicemanChildren" id="childrenAmount">Find by children amount</a></li>
                        <li><a href="/trainServicemanGender" id="gender">Find by Gender</a></li>
                        <li id="salary"><a href="/trainServicemanSalary" id="settings">Find by salary</a></li>
                    </ul>
                </li>
                <li>Cashiers <i  class="fas fa-bars"></i>
                <ul class="inner-list" >
                    <li><a href="/cashierExperience" id="experience">Find by experience</a></li>
                    <li><a href="/cashierAge" id="age">Find by age</a></li>
                    <li><a href="/cashierChildren" id="childrenAmount">Find by children amount</a></li>
                    <li><a href="/cashierGender" id="gender">Find by Gender</a></li>
                    <li><a href="/cashierBrigades" id="gender">Find by brigades</a></li>
                    <li id="salary"><a href="/cashierSalary" id="settings">Find by salary</a></li>
                </ul>
            </li>
                <li>Dispatchers <i  class="fas fa-bars"></i>
                    <ul class="inner-list" >
                        <li><a href="/dispatcherExperience" id="experience">Find by experience</a></li>
                        <li><a href="/dispatcherAge" id="age">Find by age</a></li>
                        <li><a href="/dispatcherChildren" id="childrenAmount">Find by children amount</a></li>
                        <li><a href="/dispatcherGender" id="gender">Find by Gender</a></li>
                        <li id="salary"><a href="/dispatcherSalary" id="settings">Find by salary</a></li>
                    </ul>
                </li>
                <li>HelpDesk Service <i  class="fas fa-bars"></i>
                    <ul class="inner-list" >
                        <li><a href="/helpDeskExperience" id="experience">Find by experience</a></li>
                        <li><a href="/helpDeskAge" id="age">Find by age</a></li>
                        <li><a href="/helpDeskChildren" id="childrenAmount">Find by children amount</a></li>
                        <li><a href="/helpDeskGender" id="gender">Find by Gender</a></li>
                        <li id="salary"><a href="/helpDeskSalary" id="settings">Find by salary</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <div class="main-content">



        </div>

    </div>

</div>

</div>
<footer class="main-footer"><p>Copyright&copy; 2020</p></footer>
</div>
</body>
</html>