<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/pagination.css" th:href="@{/css/pagination.css}" rel="stylesheet" />
</head>
<body>
Hello world
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Brigade name</th>
        <th>Sex</th>
    </tr>
    <tr th:each="w:${workersList}">
        <td th:text="${w.getName()}">Jill</td>
        <td th:text="${w.getSex()}">Smith</td>
        <td th:text="${w.getAge()}">50</td>
    </tr>
</table>

<div class="pagination" th:fragment="pagination">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li style="display: inline" class="page-item" th:each="pageNumber : ${pageNumbers}" >
<!--                    <a class="page-link" th:href="@{|/all/?page=${pageNumber}|}" th:text=${pageNumber}>1</a>-->
                    <a class="page-link" th:href="@{|/all?page=${pageNumber}|}" th:text=${pageNumber}>1</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>